/*
1. Posicionamiento
2. Modelo caja (Box mode)
3. TipografÃ­a
4. Visuales
5. Otros
*/
:root{
    /*colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}
.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3:before {
    height: 0%;
    width: 2px;
}
.btn-3:after {
    width: 0%;
    height: 2px;
}
.btn-3:hover{
    background: transparent;
    box-shadow: none;
}
.btn-3:hover:before {
    height: 100%;
}
.btn-3:hover:after {
    width: 100%;
}
.btn-3 span:hover{
    color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3 span:before {
    width: 2px;
    height: 0%;
}
.btn-3 span:after {
    width: 0%;
    height: 2px;
}
.btn-3 span:hover:before {
    height: 100%;
}
.btn-3 span:hover:after {
    width: 100%;
}
li, a {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #201e1c;
    text-decoration: none;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.logo{
    cursor: pointer;
}
.nav img{
    width: 100px;
    height: 100px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: white;

}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0088a9;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: #013F5A ;
}
header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;/*pa centrar un csm*/
}
.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;/*no crezca apartir de 900px*/
    height: 100px;
    text-align: center;
    align-self: center;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--soft-blue);
    margin-top: 70px;
}
.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-blue);
}
.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px; /*darle mas relleno*/
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*SOMBRAS*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--title-container input{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border-radius: 52px;
    background-color: #D9D9D9;
    text-align: center;
}
/*MAIN*/
/*MARGIN OFRECEMOS*/

.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background: linear-gradient(207.8deg, #77a2b9 3%, #044467 100%);;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row .mt-5 .inti img{
    height: 160px;
    width: 160px;
}
.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
h4, .h4 {
    font-size: 1.5rem;
}
.mt-5,
.my-5 {
    margin-top: 3rem !important;
}
.col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}
h3{
    color: white;
}
.mt-5 p{
    color: white;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.text-center {
    text-align: center !important;
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto; /*pa mover al centro*/
    margin-top: 50px; /*alejar de la parte de arriba*/
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);

}
/* <!-- SD--> */
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}
.bitcoin-img-container h2{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.bitcoin-img-container h1{
    padding-top: 60px;
    font-size: 3.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.bitcoin-img-container p{
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: #707070;
}
.bitcoin-img-container img
{
    max-width: 100%;
}

.bitcoin-img-container .image-left, .image-right
{
    margin-top: 100px;

    justify-content: center;
}
.bitcoin-img-container .image-left img
{
    margin-right:200px;

}
.bitcoin-img-container .image-right img
{
    margin-left:200px;

}

@media (min-width: 20em)
{
    .image-left, .image-right
    {
        display: flex;
        align-items: center;
    }

    .image-left img
    {
        margin-right: 1em;
        float: left; /* fallback */
    }

    .image-right img
    {
        order: 1;
        margin-left: 1em;
        float: right; /* fallback */
    }

    /* clearfix for fallback */
    .image-left::after,
    .image-right::after
    {
        content: "";
        display: block;
        clear: both;
    }
}

@media (min-width: 30em)
{
    .image-left img, .image-right img
    {
        flex-shrink: 0;
    }
}
/* PLANES */
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background: linear-gradient(207.8deg, #77a2b9 3%, #044467 100%);;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;

}
.plans--title h2{
    padding-top: 50px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.plans--title p{
    padding-top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/*deslizar*/

.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x:contain ;
    scroll-snap-type: x proximity;/*los centra al poner papu*/

}
.plans-container--card{
    position: relative;/*se pone cuando se pondra un efecto flotante aboslte*/
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 30px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomendado{
    position: absolute;/*pa cruzarce */
    width: 120px;
    height: 31px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    padding: 6px;
    background-color: #005D8F;
    border-radius: 8px;
    color: var(--just-white);
}
.plan-card--title{
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}
.plan-card--saving{
    font-size: 1.2rem;
    color: #757575;
}
.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: "DM Sans", sans-serif;
}

/*FOOTER*/
footer{
    display: flex;/*pone al costado cada vaina*/
    width: 100%;
    height: 150px;
    background-color: #005D8F;
}
footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left{
    display: flex;
    justify-content: center;
}
.footer-image{
    margin-top: 4px;
}
.left .footer-left-title {
    margin-bottom: 4px;
}
.footer-image img{
    height: 50px;
    width: 120px;
}
.left li{
    margin: 10px 0;
}
.left a{
    text-decoration: none;
    color: var(--just-white);
}